services:
  auth:
    container_name: auth-svc
    build:
      context: ./apps/auth-svc/
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps/auth-svc/src:/isnex/apps/auth-svc/src
      - ./apps/auth-svc/prisma:/isnex/apps/auth-svc/prisma
      # - ./envs/auth.env:/isnex/envs/auth.env:ro
    ports:
      - 2001:3001
      - 2211:4211
    depends_on:
      - auth-db
    environment:
      DATABASE_URL: 'postgresql://${AUTH_POSTGRES_USER}:${AUTH_POSTGRES_PASSWORD}@auth-db:5432/${AUTH_POSTGRES_DB}'
    env_file:
      - ./envs/.env.dev
      - ./apps/auth-svc/.env.dev

  client:
    container_name: client-ui
    build:
      context: .
      dockerfile: ./apps/client/Dockerfile.dev
    ports:
      - 3000:5000
    volumes:
      - ./apps/client:/isnex/apps/client
      - ./apps/client/node_modules:/isnex/apps/client/node_modules

  data-lake:
    image: quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: isnex-data-lake
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - '1000:9000'
      - '1001:9001'
    command: server /data --console-address ":9001"
    volumes:
      - ./minio/data:/data

  documents:
    container_name: documents-svc
    build:
      context: ./apps/documents
      dockerfile: Dockerfile.dev
    ports:
      - '4000:4000'
    volumes:
      - ./apps/documents/src:/app/src
      - ./apps/documents/pyproject.toml:/app/pyproject.toml
      - ./apps/documents/uv.lock:/app/uv.lock
    develop:
      watch:
        - action: sync
          path: ./apps/documents
          target: /app
          ignore:
            - .venv/

        - action: rebuild
          path: ./apps/documents/uv.lock

networks:
  default:
    name: isnex-net
    external: true
