services:
  auth:
    build:
      context: ./apps/auth-svc/
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps/auth-svc/src:/isnex/apps/auth-svc/src
      - ./apps/auth-svc/prisma:/isnex/apps/auth-svc/prisma
      - ./envs/auth.env:/isnex/envs/auth.env:ro
    ports:
      - 3000:3000
      - 4211:4211
    depends_on:
      - auth-db
    environment:
      DATABASE_URL: 'postgresql://${AUTH_POSTGRES_USER}:${AUTH_POSTGRES_PASSWORD}@auth-db:5432/${AUTH_POSTGRES_DB}'
    env_file:
      - ./envs/auth.env

  client:
    container_name: client
    build:
      context: .
      dockerfile: ./apps/client/Dockerfile.dev
    ports:
      - 5000:5000
    volumes:
      - ./apps/client:/isnex/apps/client
      - /isnex/apps/client/node_modules

networks:
  default:
    name: isnex-net
    external: true
