services:
  auth:
    build:
      context: ./apps/auth-svc/
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps/auth-svc/src:/isnex/apps/auth-svc/src
      - ./apps/auth-svc/prisma:/isnex/apps/auth-svc/prisma
      # - ./envs/auth.env:/isnex/envs/auth.env:ro
    ports:
      - 3001:3001
      - 4211:4211
    depends_on:
      - auth-db
    environment:
      DATABASE_URL: 'postgresql://${AUTH_POSTGRES_USER}:${AUTH_POSTGRES_PASSWORD}@auth-db:5432/${AUTH_POSTGRES_DB}'
    env_file:
      - ./envs/.env.dev
      - ./apps/auth-svc/.env.dev

  client:
    container_name: client
    build:
      context: .
      dockerfile: ./apps/client/Dockerfile.dev
    ports:
      - 5000:5000
    volumes:
      - ./apps/client:/isnex/apps/client
      - ./apps/client/node_modules:/isnex/apps/client/node_modules

  data-lake:
    image: quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: isnex-data-lake
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - '9000:9000'
      - '9001:9001'
    command: server /data --console-address ":9001"
    volumes:
      - ./minio/data:/data

networks:
  default:
    name: isnex-net
    external: true
