services:
  isnex-db:
    image: postgres:17
    container_name: isnex-db
    restart: unless-stopped
    ports:
      - 5432:5432
    env_file:
      - ../../envs/.env.dev
    environment:
      POSTGRES_MULTIPLE_DATABASES: users, documents
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mdop297"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./create-multiple-postgresql-databases.sh:/docker-entrypoint-initdb.d/create-multiple-databases.sh

  data-lake:
    image: quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: isnex-data-lake
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - ../../minio/data:/data

  redis-server:
    image: redis:8.2.3-alpine
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  postgres_data:
  redis_data:

networks:
  default:
    name: isnex-net
    external: true
